In [1]:
import pandas as pd

df = pd.read_csv('MT745584.txt', header=None)
amino_acids = ('A', 'C', 'G', 'T')

idxs_base = {}
for data in df.iloc[:,0].to_list():
    idxs_base[data] = 0

stack = [('', idxs_base)] # DFS로 접근
over_minsup = {'sequence': [], 'sup': []}
minsup = 498

display(df)

                                                     0
0    AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTC...
1    TCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGC...
2    CAGTATAATTAATAACTAATTACTGTCGTTGACAGGACACGAGTAA...
3    GCAGGCTGCTTACGGTTTCGTCCGTGTTGCAGCCGATCATCAGCAC...
4    CGGGTGTGACCGAAAGGTAAGATGGAGAGCCTTGTCCCTGGTTTCA...
..                                                 ...
493  CCGTTTACGATATATAGTCTACTCTTGTGCAGAATGAATTCTCGTA...
494  GTAGATGTAGTTAACTTTAATCTCACATAGCAATCTTTAATCAGTG...
495  GGACTTGAAAGAGCCACCACATTTTCACCGAGGCCACGCGGAGTAC...
496  TGAACAATGCTAGGGAGAGCTGCCTATATGGAAGAGCCCTAATGTG...
497           GTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAG

[498 rows x 1 columns]

In [2]:
def check(target, sub:tuple, idx_dic:dict):
    max_length = len(target[0])
    try:
        index = sub[1][target[0]]
        suffix = sub[0][-1]
        for idx in range(index, max_length):
            if target[0][idx] == suffix:
                idx_dic[target[0]] = idx+1
                return True
    except: pass
    return False

try_count = 0

while(len(stack) != 0):
    try_count += 1

    node = stack.pop()
    idxs = {}

    if node[0] != '':
        sup = df.apply(check, axis='columns', sub=node, idx_dic=idxs)
        sup = sup.sum()
    else:
        idxs = idxs_base
        sup = len(df)

    if sup < minsup:
        continue
    else:
        over_minsup['sequence'].append(node[0])
        over_minsup['sup'].append(sup)
        for acid in amino_acids: stack.append((f'{node[0]}{acid}', idxs))
    
    print(f'{try_count:7d} sequences have been checked. {len(stack):3d} sequences are in stack.', end='\r')
print(f'{try_count:7d} sequences have been checked. {len(stack):3d} sequences are in stack.')

  15713 sequences have been checked.   0 sequences are in stack.

In [3]:
result = pd.DataFrame(over_minsup)
display(result)

      sequence  sup
0               498
1            T  498
2           TT  498
3          TTT  498
4         TTTT  498
...        ...  ...
3923   AAAAAAG  498
3924  AAAAAAGT  498
3925   AAAAAAC  498
3926   AAAAAAA  498
3927  AAAAAAAT  498

[3928 rows x 2 columns]